.logo{
    /* width: 50%;
    height: 20px; */
}
.navbar1{
    z-index: 1;
    width: 100%;
    z-index: 1;
    position: fixed;
}
.google{
    width: 50%;
}
.hei{
    height: 100px !important;
}
a{
    text-decoration: none;
    color: black;
}
#shift{
    margin-left: 250px;
}